<!-- Navbar -->
<nav class="navbar">
  <h1>GIGAHOUSE</h1>
  <div class="navbar-buttons">
    <a routerLink="/" class="navbar-button">Inicio</a>
    <a routerLink="/camera" class="navbar-button">Ver Cámara</a>
    <a routerLink="/cochera" class="navbar-button">Cochera</a>
    <a routerLink="/cuartos" class="navbar-button">Cuartos</a>
    <a routerLink="/sala" class="navbar-button">Sala</a>
    <a routerLink="/banos" class="navbar-button">Baños</a>
    <a routerLink="/pasillo" class="navbar-button">Pasillo</a>
    <a routerLink="/cocina" class="navbar-button">Cocina</a>
    <a routerLink="/historial" class="navbar-button">Historial</a>
  </div>
</nav>

<!-- Contenedor de contenido principal -->
<div class="main-content">
  <!-- Aquí va el contenido principal de la aplicación -->
  <router-outlet></router-outlet>
</div>
