<nav class="navbar">
  <h1>GIGAHOUSE</h1>
  <a routerLink="/camera" class="camera-link">Ver Cámara</a>
</nav>

<div class="container">
  <!-- Sección: Cochera -->
  <<router-outlet></router-outlet>
  
  <div class="cochera-container">
    <h2>Cochera</h2>
    <div class="grid-container">
      <!-- Control de la Puerta -->
      <div class="grid-card">
        <h3>Puerta de la Cochera</h3>
        <div *ngIf="estadoLeds$ | async as estadoLeds">
          <p>Estado: {{ estadoLeds['cochera'] === 1 ? 'Abierta' : 'Cerrada' }}</p>
          <button
            (click)="toggleCochera(estadoLeds['cochera'])"
            [ngClass]="{'btn-open': estadoLeds['cochera'] === 0, 'btn-close': estadoLeds['cochera'] === 1}"
          >
            {{ estadoLeds['cochera'] === 1 ? 'Cerrar Puerta' : 'Abrir Puerta' }}
          </button>
        </div>
      </div>

      <!-- Control de la Luz -->
      <div class="grid-card">
        <h3>Luz de la Cochera</h3>
        <div *ngIf="estadoLeds$ | async as estadoLeds">
          <p>Estado: {{ estadoLeds['led11'] === 1 ? 'Encendida' : 'Apagada' }}</p>
          <button
            (click)="toggleLed('led11', estadoLeds['led11'])"
            [ngClass]="{'btn-on': estadoLeds['led11'] === 0, 'btn-off': estadoLeds['led11'] === 1}"
          >
            {{ estadoLeds['led11'] === 1 ? 'Apagar Luz' : 'Encender Luz' }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección: Cuartos -->
  <div class="section-container">
    <h2>Cuartos</h2>
    <div class="grid-container">
      <div class="grid-card" *ngFor="let i of [1, 2, 3]">
        <h3>Cuarto {{ i }}</h3>
        <div *ngIf="estadoLeds$ | async as estadoLeds">
          <p>Estado: {{ estadoLeds['led' + i] === 1 ? 'Encendido' : 'Apagado' }}</p>
          <button
            (click)="toggleLed('led' + i, estadoLeds['led' + i])"
            [ngClass]="{'btn-on': estadoLeds['led' + i] === 0, 'btn-off': estadoLeds['led' + i] === 1}"
          >
            {{ estadoLeds['led' + i] === 1 ? 'Apagar' : 'Encender' }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección: Sala -->
  <div class="section-container">
    <h2>Sala</h2>
    <div class="grid-container">
      <div class="grid-card" *ngFor="let i of [4, 5]">
        <h3>Sala {{ i === 4 ? '1' : '2' }}</h3>
        <div *ngIf="estadoLeds$ | async as estadoLeds">
          <p>Estado: {{ estadoLeds['led' + i] === 1 ? 'Encendida' : 'Apagada' }}</p>
          <button
            (click)="toggleLed('led' + i, estadoLeds['led' + i])"
            [ngClass]="{'btn-on': estadoLeds['led' + i] === 0, 'btn-off': estadoLeds['led' + i] === 1}"
          >
            {{ estadoLeds['led' + i] === 1 ? 'Apagar' : 'Encender' }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección: Baños -->
  <div class="section-container">
    <h2>Baños</h2>
    <div class="grid-container">
      <div class="grid-card" *ngFor="let i of [6, 7]">
        <h3>Baño {{ i === 6 ? '1' : '2' }}</h3>
        <div *ngIf="estadoLeds$ | async as estadoLeds">
          <p>Estado: {{ estadoLeds['led' + i] === 1 ? 'Encendida' : 'Apagada' }}</p>
          <button
            (click)="toggleLed('led' + i, estadoLeds['led' + i])"
            [ngClass]="{'btn-on': estadoLeds['led' + i] === 0, 'btn-off': estadoLeds['led' + i] === 1}"
          >
            {{ estadoLeds['led' + i] === 1 ? 'Apagar' : 'Encender' }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección: Pasillo -->
  <div class="section-container">
    <h2>Pasillo</h2>
    <div class="grid-container">
      <div class="grid-card" *ngFor="let i of [8, 9]">
        <h3>Pasillo {{ i === 8 ? '1' : '2' }}</h3>
        <div *ngIf="estadoLeds$ | async as estadoLeds">
          <p>Estado: {{ estadoLeds['led' + i] === 1 ? 'Encendida' : 'Apagada' }}</p>
          <button
            (click)="toggleLed('led' + i, estadoLeds['led' + i])"
            [ngClass]="{'btn-on': estadoLeds['led' + i] === 0, 'btn-off': estadoLeds['led' + i] === 1}"
          >
            {{ estadoLeds['led' + i] === 1 ? 'Apagar' : 'Encender' }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección: Cocina -->
  <div class="section-container">
    <h2>Cocina</h2>
    <div class="grid-container">
      <div class="grid-card">
        <h3>Cocina</h3>
        <div *ngIf="estadoLeds$ | async as estadoLeds">
          <p>Estado: {{ estadoLeds['led10'] === 1 ? 'Encendida' : 'Apagada' }}</p>
          <button
            (click)="toggleLed('led10', estadoLeds['led10'])"
            [ngClass]="{'btn-on': estadoLeds['led10'] === 0, 'btn-off': estadoLeds['led10'] === 1}"
          >
            {{ estadoLeds['led10'] === 1 ? 'Apagar' : 'Encender' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
