/* Sección de inicio */
.inicio {
  background-image: url('../../assets/images/casa.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Hace que la imagen de fondo no se mueva al hacer scroll */
  width: 100%; /* Asegura que ocupe el 100% del ancho */
  height: 100vh; /* Asegura que ocupe el 100% de la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin: 0; /* Elimina los márgenes predeterminados */
  padding: 0; /* Elimina los rellenos predeterminados */
}

.inicio-content {
  max-width: 700px;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro con opacidad */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.inicio h1 {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.inicio p {
  font-size: 20px;
  margin: 20px 0;
}

.inicio-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.inicio .btn-start {
  background-color: #007bff;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.inicio .btn-start:hover {
  background-color: #0056b3;
  transform: translateY(-5px);
}

.inicio .btn-start:active {
  transform: translateY(2px);
}
